@{ }

<div>

    <h1>@ViewData["Title"]</h1>

    <p>Contents of <code>robots.txt</code></p>
    <pre>@ViewData["RobotsTxt"]</pre>
    
    <a href="/robots.txt">See <code>robots.txt</code></a>
</div>